@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,200&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  outline: 0;
}
.Auth_main{
  margin-top: 70px;
}
.Auth_col{
  box-shadow: 1px 0px 10px 2px rgb(160, 160, 160);
  padding-top: 14px;
}
.Auth_col-one{
  height: 550px !important;
  padding-top: 0px !important;
}
.Auth_col-one > img{
  width: 100%;
  height: 100%;
}
.Auth_input{
  text-align: center;
  margin-left: -20px !important;
}
.Auth_input h2{
  margin-bottom:  0px !important;
}
.Auth_input div{
  margin-bottom: 10px;
}
.Auth_input input{
  width: 400px;
  padding: 14.5px 14px !important;
}
.Auth_input button{
  width: 425px;
}
.Auth_input a{
  text-decoration: none;
  color: #1565C0;
}

/* ====== SIDE MENU ====== */
.sidemenu_main{
  width: 200px;
  height: 721px;
  padding: 0px !important;
  background-color: white;
  box-shadow: 1px 0 10px -2px rgb(79, 80, 80);
}
.sidemenu_main h2{
  margin: 0px;
}